.mat-list-item-content { /* This rule does NOT work !!! */
  padding: 0;
}

.item-link {
  border: 1px solid red;
  padding: 0;
}

.item-text {
  border: 1px solid black;
  margin: 0;
}
/* style="background-color: red;" */